@font-face {
  font-family: Adigiana Extreme;
  src: url(../fonts/adigiana_extreme-webfont.woff2); }

* {
  font-family: Adigiana Extreme;
  color: #0b0c10; }

a {
  color: #0b0c10; }

* {
  margin: 0;
  padding: 0; }
  * a {
    text-decoration: none; }

.align-items-center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important; }

button {
  padding: 0 20px;
  height: 50px;
  font-size: 30px;
  border-radius: 8px;
  background-color: #7bffff7e;
  border-color: #7bffff7e;
  color: black;
  cursor: pointer;
  transition: all 0.4s ease; }

.formbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; }

button:hover {
  color: white;
  border-color: #FEB4FF;
  background-color: #FEB4FF;
  transition: all 0.4s ease;
  border: width 0; }
  button:hover a {
    color: white;
    transition: all 0.8s ease; }

.formBasic {
  padding-top: 10px;
  display: flex;
  flex-direction: column; }

.formBasic input {
  border-radius: 8px;
  border: none;
  background: #feb4ff;
  background: linear-gradient(186deg, rgba(254, 180, 255, 0.504727) 0%, rgba(123, 255, 255, 0.493522) 100%); }

.formBasic label {
  padding-left: 10px;
  padding-bottom: 3px;
  font-size: 20px; }

.waveup {
  background-image: url(../images/wave-up.svg);
  height: 100px;
  background-size: cover; }

.wavedown {
  background-image: url(../images/wave-dow.svg);
  height: 100px;
  background-size: cover; }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }
  header .bg-body-tertiary {
    background-color: white !important; }
  header .header__imglogo {
    width: 70px;
    height: auto;
    padding: 3px 3px 3px 10px; }
  header .nav__li {
    font-size: 20px;
    font-weight: 200;
    display: inline;
    padding: 7px;
    font-weight: 200;
    text-align: center; }

main {
  grid-area: main; }

footer {
  background-color: #feb4ff;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: footer; }
  footer .footerCopyrights {
    display: flex;
    padding: 10px 0px 20px 0px; }

.presentationBannerdiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .presentationBannerdiv .presentationBanner__image {
    width: 85%; }
  .presentationBannerdiv .presentationBanner__titule {
    padding-top: 20px;
    font-weight: 300;
    font-size: 60px;
    text-align: center; }
  .presentationBannerdiv .presetnationBanner__subtitule {
    margin: 25px;
    text-align: center;
    font-weight: 200; }
  .presentationBannerdiv .button_primary {
    margin: 25px; }

#testimonies {
  background-color: #feb4ff; }
  #testimonies #testimonies__titule {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #testimonies #testimonies__titule h2 {
      font-size: 43px;
      font-weight: 200;
      text-align: center;
      text-shadow: white; }

#testimonies__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  #testimonies__cards .cardTestimonies {
    border-radius: 25px;
    background-color: white;
    width: 230px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 4px 20px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.4s linear; }
  #testimonies__cards .cardTestimonies:hover {
    transform: scale(1.15, 1.15);
    transition: all 0.4s linear; }
  #testimonies__cards .cardTestimonies__name {
    padding-top: 10px; }
  #testimonies__cards .testimonies__image {
    border-radius: 20px;
    padding: 5px;
    height: 45%;
    width: 85%; }
  #testimonies__cards .cardTestimonies__text {
    font-size: 17px;
    padding: 0px 10px;
    text-align: center; }

.knowAboutUsButton {
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: center; }

#petsitterBanner {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white; }
  #petsitterBanner .petsitterBanner__titule {
    font-size: 60px;
    text-shadow: 2px 4px 10px white;
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      #petsitterBanner .petsitterBanner__titule {
        font-size: 50px; } }
  #petsitterBanner .petsitterBanner__subtitule {
    width: 70vw;
    text-align: center;
    font-weight: 200;
    text-shadow: 1px 1px 10px white; }

.petsitterimage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vw;
  background-image: url(../images/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
  background-attachment: fixed; }
  @media (max-width: 768px) {
    .petsitterimage {
      height: 100vw; } }
  .petsitterimage img {
    width: 100%; }

#petsitterForm {
  background-color: white;
  height: fit-content; }
  #petsitterForm h2 {
    text-align: center;
    font-size: 30px; }

#dogtrainigBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  background-image: url(../images/banner4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0px; }
  #dogtrainigBanner img {
    width: 100%; }
  #dogtrainigBanner .dogtrainigBanner__titule {
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 4px 10px white; }
  #dogtrainigBanner .dogtrainigBanner__subtitule {
    padding-top: 10px;
    text-align: center;
    font-weight: 200;
    text-shadow: 1px 1px 10px white; }

#dogtraininggiff {
  background-color: white; }
  #dogtraininggiff h2 {
    font-size: 40px;
    text-align: center; }
  #dogtraininggiff img {
    padding: 20px 0;
    width: 60%;
    border-radius: 60px; }
    @media (max-width: 768px) {
      #dogtraininggiff img {
        width: 85%; } }

#dogtrainingCarrusel {
  background-color: #feb4ff; }
  #dogtrainingCarrusel h2 {
    font-size: 40px;
    text-align: center; }
  #dogtrainingCarrusel .carousel {
    border-radius: 60px;
    overflow: hidden;
    width: 80%; }
    @media (max-width: 768px) {
      #dogtrainingCarrusel .carousel {
        width: 85%; } }
  #dogtrainingCarrusel img {
    padding: 20px 0;
    width: 60%;
    border-radius: 60px; }
    @media (max-width: 768px) {
      #dogtrainingCarrusel img {
        width: 85%; } }

#dogtrainingVermas {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

#workwithusBanner {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/banner5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(1.5); }
  #workwithusBanner img {
    width: 100%; }

#workwithusForm {
  background-color: white;
  margin: 10px 40px 0px 40px; }
  #workwithusForm .workwithusBanner__titule {
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 4px 10px white; }
  #workwithusForm .workwithusBanner__subtitule {
    padding-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 200;
    text-shadow: 1px 1px 10px white; }

#aboutusHistoryUp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white; }
  #aboutusHistoryUp .aboutusHistory__titule {
    font-size: 60px;
    text-align: center;
    font-weight: 200; }
  #aboutusHistoryUp .aboutusHistory__text {
    margin: 30px 0;
    text-align: center;
    font-weight: 200;
    width: 90%; }
  #aboutusHistoryUp .carousel {
    border-radius: 60px;
    overflow: hidden;
    margin: 10px;
    width: 90%; }

#aboutusCarousel {
  background-color: #feb4ff;
  padding-top: 20px; }
  #aboutusCarousel .carousel {
    border-radius: 60px;
    overflow: hidden;
    margin: 10px;
    width: 90%; }

#aboutusHistoryDown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white; }
  #aboutusHistoryDown .aboutusHistory__titule {
    font-size: 45px;
    text-align: center;
    font-weight: 200; }
  #aboutusHistoryDown .aboutusHistory__text {
    margin: 30px 0;
    text-align: center;
    font-weight: 200;
    width: 90%; }
  #aboutusHistoryDown .carousel {
    border-radius: 60px;
    overflow: hidden;
    margin: 10px;
    width: 90%; }
