.waveup{
    background-image: url(../../images/wave-up.svg);
    height: 100px;
    background-size: cover;
}

.wavedown{
    background-image: url(../../images/wave-dow.svg);
    height: 100px;
    background-size: cover;
}