.waveup{
    background-image: url(../images/wave-up.svg);
    height: 100px;
    background-size: cover;
    margin-top: -10px;
    margin-bottom: -3px;
}

.wavedown{
    background-image: url(../images/wave-dow.svg);
    height: 100px;
    background-size: cover;
    margin-top: -3px;
    margin-bottom: -4px;
}