#aboutusCarousel{
    background-color: $primarycolor;
    padding-top: 20px;
    .carousel{
        border-radius: 60px;
        overflow: hidden;
        margin: 10px;
        width: 90%;
    } 
}

#aboutusHistoryUp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background;
    .aboutusHistory__titule{
        font-size: 40px;
        text-align: center;
        font-weight: 200;
    }
    .aboutusHistory__text{
        text-align: center;
        font-weight: 200;
        width: 90%;
    }
    .carousel{
        border-radius: 60px;
        overflow: hidden;
        margin: 10px;
        width: 90%;
    } 
}

#aboutusHistoryDown{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background;
    .aboutusHistory__titule{
        font-size: 40px;
        text-align: center;
        font-weight: 200;
    }
    .aboutusHistory__text{
        text-align: center;
        font-weight: 200;
        width: 90%;
    }
    .carousel{
        border-radius: 60px;
        overflow: hidden;
        margin: 10px;
        width: 90%;
    } 
}