#dogtrainigBanner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    background-image: url(../../images/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    // background-attachment: fixed;   
    img{
        width:100%;
    }
    .dogtrainigBanner__titule{  
        text-align: center;
        font-size: 50px;
        text-shadow: 2px 4px 10px white;
    }
    .dogtrainigBanner__subtitule{
        padding-top: 10px;
        text-align: center;
        font-weight: 200;
        text-shadow: 1px 1px 10px white;
    }
}

.align-items-center{
    // padding: 5vw 0 5vw 0;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    
}

#dogtraininggiff{
    img{
        padding: 40px;
        width: 100%;;
        border-radius: 60px;
    }   
}




#dogtrainingCarrusel{
    background-color: $primarycolor;
    .carousel{
        border-radius: 60px;
        overflow: hidden;
    }
    img{
        padding: 20px;
        width: 100%;;
        border-radius: 60px;
    }   
}


#dogtrainingVermas{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}