
.presentationBannerdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentationBanner__image{
    width: 35vw;
}
.presentationBanner__titule{
    padding-top: 20px;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}
.presetnationBanner__subtitule{
    padding-top: 10px 0px;
    /* width: 500px; */
    text-align: center;
    font-weight: 200;
}
#testimonies{
    background-color:rgb(254, 180, 255);
    // box-shadow: 15px 4px 20px 20px rgba(254,180,255,0.5047268907563025);
    #testimonies__titule{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 35px;
            font-weight: 200;
            text-align: center;
        }
    }    
    
}


#testimonies__cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .cardTestimonies{
        border-radius: 25px;
        background-color: white;
        // background: #feb4ff;
        // background: linear-gradient(186deg, rgba(254,180,255,0.5047268907563025) 0%, rgba(123,255,255,0.49352240896358546) 100%);
        width: 230px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 15px 4px 20px 20px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: all 0.4s linear;    
    }
    .cardTestimonies:hover{
        transform: scale(1.15,1.15);
        transition: all 0.4s linear;
    }
    .cardTestimonies__name{
       padding-top: 10px;
    }
    .testimonies__image{
        border-radius: 20px;
        padding: 5px;
        height: 45%;
        width: 85%;
    }
    .cardTestimonies__text{
        font-size: 14px;
        padding: 0px 10px;
        text-align: center;
    }  
}
.knowAboutUsButton{
    padding: 50px;
    display: flex;
    justify-content: center;
}
