#petsitterBanner{
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-color: $background;
    overflow: hidden;
    .petsitterBanner__titule{
        font-size: 60px;
        text-shadow: 2px 4px 10px $background;
        margin-bottom: 30px;
        @include mediaquery_mobile(){
            font-size: 50px;
        }
    }
    .petsitterBanner__subtitule{
        width: 70vw;
        text-align: center;
        font-weight: 200;
        text-shadow: 1px 1px 10px $background;
    }
}

.petsitterimage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vw;
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    background-attachment: fixed;
    @include mediaquery_mobile(){
        height: 100vw;
    }
    img{
        width: 100%;
    }
}

#petsitterForm{
    background-color: $background;
    height: fit-content;
    
    h2{
        text-align: center;
        font-size: 30px;
    }
}

