header{                                                                                             
    grid-area: header;
    .bg-body-tertiary{
        background-color: $background !important;
    }
    .header__imglogo{
        width: 70px;
        height: auto;
        padding: 3px 3px 3px 10px;
    }
    .nav__li{
        font-size: 20px;
        font-weight: 200;
        display: inline;
        padding: 7px;
        font-weight: 200;
        text-align: center;
    }
}
